In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
#from fuzzywuzzy import fuzz
import pickle

#Entertained having to use FuzzyWuzzy to match names but the dataframes did a pretty good job for my purposes.

def match_name(name, list_names, min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for name2 in list_names:
        #Finding fuzzy match score
        score = fuzz.ratio(name, name2)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = name2
            max_score = score
    return (max_name, max_score)

In [3]:
with open('title.pkl', 'rb') as f:
    book_title = pickle.load(f)

In [4]:
with open('rating.pkl', 'rb') as f:
    book_rating = pickle.load(f)

In [5]:
with open('number_rating.pkl', 'rb') as f:
    book_number_rating = pickle.load(f)

In [6]:

with open('year_published.pkl', 'rb') as f:
    book_year_published = pickle.load(f)

In [7]:
with open('movie_data.pkl', 'rb') as f:
    movie_data = pickle.load(f)

In [8]:
book_data = pd.DataFrame(
    {'book_title': book_title,
     'book_rating': book_rating,
     'book_number_rating': book_number_rating,
     'book_year_published': book_year_published
    })

In [9]:
with open('book_data.pkl', 'wb') as f:
    pickle.dump(book_data, f)

In [19]:
book_data.dtypes

book_title              object
book_rating            float64
book_number_rating      object
book_year_published     object
dtype: object

In [20]:
book_data["book_rating"] = pd.to_numeric(book_data["book_rating"])

In [21]:
book_data.dtypes

book_title              object
book_rating            float64
book_number_rating      object
book_year_published     object
dtype: object

In [13]:
movie_data.dtypes

adult                     object
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [12]:
book_movie = pd.merge(book_data, movie_data,  left_on='book_title', right_on = 'title')

In [13]:
book_movie.shape

(705, 28)

In [14]:
book_movie.dtypes

book_title                object
book_rating              float64
book_number_rating        object
book_year_published       object
adult                     object
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [15]:
book_movie.corr()

,book_rating,budget,revenue,runtime,vote_average,vote_count
book_rating,1.000000,0.119831,0.171653,-0.005385,0.206703,0.202751
budget,0.119831,1.000000,0.753144,0.121404,0.099657,0.603412
revenue,0.171653,0.753144,1.000000,0.113938,0.158091,0.747391
runtime,-0.005385,0.121404,0.113938,1.000000,0.001977,0.109464
vote_average,0.206703,0.099657,0.158091,0.001977,1.000000,0.272046
vote_count,0.202751,0.603412,0.747391,0.109464,0.272046,1.000000

In [17]:
book_movie.to_pickle('book_movie.pkl')

In [67]:
with open('book_movie_data.pkl', 'wb') as f:
    pickle.dump(book_movie, f)

In [29]:
book_movie.to_csv('book_movie.csv')

Experimenting with the IMDb dataset to see if additional variables could be appended. Concluded that it was not providing enough extra value.

In [51]:
imdb_data = pd.read_csv('./raw_data_files/movie_metadata_2.csv')

In [52]:
imdb_data.movie_title.head()

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [53]:
imdb_data.shape

(5043, 28)

In [31]:
book_data.book_title.head()

0                           The Hunger Games
1      Harry Potter and the Sorcerer's Stone
2        Harry Potter and the Goblet of Fire
3    Harry Potter and the Chamber of Secrets
4                                   Twilight
Name: book_title, dtype: object

In [59]:
imdb_data.movie_title[0]

'Avatar\xa0'

In [64]:
movie_titles = []
for title in list(imdb_data['movie_title']):
    title = title.replace(u'\xa0', u' ').strip()
    movie_titles.append(title)

In [66]:
imdb_data['movie_title'] = movie_titles

In [67]:
book_movie_imdb = pd.merge(book_data, imdb_data,  left_on='book_title', right_on = 'movie_title')

In [68]:
book_movie_imdb.shape

(404, 32)

In [72]:
book_movie_imdb[['book_title', 'movie_title']]

,book_title,movie_title
0,The Hunger Games,The Hunger Games
1,Harry Potter and the Sorcerer's Stone,Harry Potter and the Sorcerer's Stone
2,Harry Potter and the Goblet of Fire,Harry Potter and the Goblet of Fire
3,Harry Potter and the Chamber of Secrets,Harry Potter and the Chamber of Secrets
4,Twilight,Twilight
5,Twilight,Twilight
6,The Help,The Help
7,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince
8,Harry Potter and the Prisoner of Azkaban,Harry Potter and the Prisoner of Azkaban
9,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix
10,The Fault in Our Stars,The Fault in Our Stars
11,Divergent,Divergent
12,The Lovely Bones,The Lovely Bones
13,The Lovely Bones,The Lovely Bones
14,The Perks of Being a Wallflower,The Perks of Being a Wallflower
15,The Great Gatsby,The Great Gatsby
16,The Great Gatsby,The Great Gatsby
17,To Kill a Mockingbird,To Kill a Mockingbird
18,The Book Thief,The Book Thief
19,The Notebook,The Notebook
20,Water for Elephants,Water for Elephants
21,The Princess Bride,The Princess Bride
22,Gone Girl,Gone Girl
23,The Time Traveler's Wife,The Time Traveler's Wife
24,The Maze Runner,The Maze Runner
25,The Da Vinci Code,The Da Vinci Code
26,If I Stay,If I Stay
27,Memoirs of a Geisha,Memoirs of a Geisha
28,Life of Pi,Life of Pi
29,The Host,The Host
...,...,...
374,Amadeus,Amadeus
375,Cat on a Hot Tin Roof,Cat on a Hot Tin Roof
376,High Noon,High Noon
377,Jumper,Jumper
378,The Deep End of the Ocean,The Deep End of the Ocean
379,Disclosure,Disclosure
380,How to Be Single,How to Be Single
381,How Green Was My Valley,How Green Was My Valley
382,The Right Stuff,The Right Stuff
383,Requiem for a Dream,Requiem for a Dream
384,Braveheart,Braveheart
385,Ghost World,Ghost World
386,On Her Majesty's Secret Service,On Her Majesty's Secret Service
387,Live and Let Die,Live and Let Die
388,Freaky Friday,Freaky Friday
389,Curious George,Curious George
390,The Merchant of Venice,The Merchant of Venice
391,The Hotel New Hampshire,The Hotel New Hampshire
392,A Simple Plan,A Simple Plan
393,All the Pretty Horses,All the Pretty Horses
394,The End of the Affair,The End of the Affair
395,Patriot Games,Patriot Games
396,Goldfinger,Goldfinger
397,An Ideal Husband,An Ideal Husband
398,Morning Glory,Morning Glory
399,Snow White and the Seven Dwarfs,Snow White and the Seven Dwarfs
400,The Hunt,The Hunt
401,The Divide,The Divide
402,Puss in Boots,Puss in Boots
403,The Awakening,The Awakening

In [73]:
book_movie_imdb.to_csv('book_movie_imdb.csv', index = False)